extends ../layout.pug

block content
  p.title(style="text-align: center;") Hola #{name},
  p Esperamos que tu primera experiencia Barissta haya sido especial.
  
  p Además de #{shop}, te ofrecemos nuestra selección de&nbsp;
    a.link(href=`${clientHost}#coffeeShops`, target="_blank") cafeterías
    | .
  p.topup Para volver a disfrutar los mejores cafés y tés de la ciudad, recarga tu cuenta eligiendo tu plan.
  a.plan-button(href=`${clientHost}#shoppingPlans`, target="_blank") Planes
  p.team Att. El equipo de Barissta
