extends ../layout.pug

block content
  p.title(style="text-align: center;") ¡Tss tss!
  p(style="text-align: center;") Tenemos algo muy importante que contarte, #{name}.
  p(style="text-align: center;") Este mes dispones de #{credit}€ de crédito gratis en tu cuenta.
  p(style="text-align: center;")
    strong ¿Por qué?
    | &nbsp;Porque en Barissta nos gusta cuidar de los buenos clientes, como tú.
  p(style="text-align: center;") Así que corre a tu cafetería Barissta más cercana y, en tu próxima consumición, recibirás un descuento cortesía del equipo Barissta.
  a(href=`${clientHost}profile`, target="_blank")
    div.button Accede y utiliza tu crédito

