table {
  background-color: #f5f5f5;
  width: 100%;
}
.container {
  font-family: Helvetica Neue, Arial, sans-serif;
  width: 100%;
  background-color: #ffffff;
  border-collapse: separate !important;
  border-spacing: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 30px 40px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
a {
  text-decoration: none;
}
.main {
  padding: 20px 0;
}
td {
  border-collapse: collapse;
}
.button {
  background-color: #10ABA3;;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  width: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 2px;
}