extends ../layout.pug

block content
  p.title(style="text-align: center;") ¡Cuéntanos tu experiencia!
  p(style="font-size: 22px; text-align: center;")
    strong ¿Te ha gustado?
  p(style="text-align: center;") Esperamos que sí. Cuéntanos tu experiencia para que otros usuarios puedan disfrutarlo como tú.
  div(style="text-align: center; font-size: 12px; margin-bottom: 5px;") Sólo será un minuto
  a(href=`https://barissta.typeform.com/to/rlEdlR`, target="_blank")
    div.button Cuéntanoslo
