table.main(border="0" cellpadding="0" cellspacing="0")
  tbody
    tr
      td(align="center")
        div(style="max-width:620px;min-width:320px;margin:0 auto;")
          table(cellpadding="0" cellspacing="0" align="center" width="100%" style="width:100%;background-color:#f5f5f5;")
            tbody
              tr
                td(align="center")
                  table(align="center" style="max-width:620px;min-width:320px;margin:0 auto")
                    tbody
                      tr
                        td(style="text-align:center;padding:15px 0 15px 0")
                          img(src=`${apiHost}static-email/barissta-logo.png` style="width: 100px; height: 100px;")
              tr
                td(width="100%" align="center" bgcolor="#f5f5f5" style="border-radius:3px 3px 0 0;background-color:#f5f5f5;border-collapse:collapse")
                  table.container
                    tbody
                      tr
                        td
                          block content
