extends ../layout.pug

block content
  p.title(style="text-align: center;") Felicidades #{name}!
  p No, no es tu cumpleaños. Lo sabemos.
    br
    | Queríamos felicitarte por tomar una gran decisión!
    br
    | Quizá la mejor del día.
  p Has recargado tu cuenta de tazas en Barissta, y es que, no son solo unas cuantas tazas más...
  p Son #{cupsToAdd} situaciones especiales, #{cupsToAdd} grandes conversaciones, #{cupsToAdd} momentos de intimidad... En definitiva, diferentes experiencias en torno a esas #{cupsToAdd} tazas.
  p Una vez más, felicidades :D
  p Ya puedes disfrutar de #{cupsToAdd} tazas más. Haz tu pedido en una de las cafeterías Barissta y muestra tu panel de&nbsp;
    a(href=`${clientHost}login`) usuario
    | .
  p Att. El equipo de Barissta
