table {
  background-color: #f5f5f5;
  width: 100%;
}
.container {
  font-family: Helvetica Neue, Arial, sans-serif;
  width: 100%;
  background-color: #ffffff;
  border-collapse: separate !important;
  border-spacing: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 30px 40px;
}
.title {
  font-size: 24px;
  font-weight: bold;
}
li {
  margin-bottom: 15px;
  text-align: left;
}
a {
  text-decoration: none;
}
.main {
  padding: 20px 0;
}
td {
  border-collapse: collapse;
}
