extends ../layout.pug

block content
  p.title(style="text-align: center;") Confirmación pedido de #{userName} el #{orderCreatedAt}
  ul
    each item in orderItems
      li= item.amount + ' x ' + item.name
  p ¿Necesitas ayuda?
  p Envíanos un correo a hola@barissta.com o llámanos al +34 644 90 69 30
  p Att el Equipo Barissta 
